<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gmail.itaofei.springboot.course.mapper.TopicMapper">

    <select id="search" resultType="com.gmail.itaofei.springboot.course.domain.Topic">
        select * from topic
        <where>
            <if test="name != null">
                name like #{name}
            </if>
            <if test="description != null">
                and description like #{description}
            </if>
        </where>
    </select>

</mapper>